@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
}

<h1>User Roles</h1>
<a class="btn btn-primary" asp-action="CreateUserRole">Create New Role</a>

<table class="table table-striped" style="margin-top:10px;">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>
                    @if (role.Name != "Admin")
                    {
                        @Html.ActionLink("Delete", "DeleteRole", new { id = role.Name }, new { @class = "btn btn-danger", @onclick = "return confirm('Are you sure you want to delete?')" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>